@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.map-marker-icon,
.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-container {
  font-family: inherit;
}

